doc/wadl/Services_1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02">
  <doc xml:lang="en" title="Services"/>
  <resources base="http://findmyapp.net/findmyapp">
    <resource path="echo" id="echo">
      <doc xml:lang="en" title="echo"/>
      <method name="GET" id="echo">
        <doc xml:lang="en" title="echo">Service for checking availability of the server. Returns a static value.</doc>
        <request/>
        <response status="404">
          <representation mediaType="text/html"/>
          <representation mediaType="application/json"/>
        </response>
        <response status="200">
          <representation mediaType="text/html"/>
          <representation mediaType="application/json"/>
        </response>
      </method>
    </resource>
    <resource path="appstore/" id="appstore">
      <doc xml:lang="en" title="appstore"/>
      <resource path="list" id="list">
        <doc xml:lang="en" title="list">Retreives a list of available applications for the different platforms</doc>
        <method name="GET" id="get">
          <doc xml:lang="en" title="get"/>
          <request/>
          <response status="400">
            <representation mediaType="text/html" element="html"/>
          </response>
        </method>
      </resource>
    </resource>
    <resource path="position/" id="position">
      <doc xml:lang="en" title="position"/>
      <resource path="sample" id="sample">
        <doc xml:lang="en" title="sample"/>
        <method name="POST" id="insert_sample">
          <doc xml:lang="en" title="insert_sample">Method for adding samples of signals to database in order to create data for which to run the Euclidean distance.</doc>
          <request>
            <representation mediaType="application/json"/>
          </request>
          <response status="">
            <representation mediaType="application/json"/>
          </response>
          <response status="500">
            <representation mediaType="text/html" element="html"/>
          </response>
          <response status="200">
            <representation mediaType="application/json" element="sam:Response" xmlns:sam="http://findmyapp.net/findmyapp/position/sample"/>
          </response>
        </method>
      </resource>
      <resource path="user/{id}" id="user">
        <doc xml:lang="en" title="user"/>
        <param name="id" type="xs:string" required="true" default="" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema">
          <doc xml:lang="en" title="id Parameter">Id of the user to update</doc>
        </param>
        <method name="POST" id="insert_user_position">
          <doc xml:lang="en" title="insert_user_position"/>
          <request>
            <param name="id" type="xs:string" required="false" default="" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <param name="locationId" type="xs:string" required="false" default="" style="query" xmlns:xs="http://www.w3.org/2001/XMLSchema">
              <doc xml:lang="en" title="locationId Parameter">The id of the location where the user is located</doc>
            </param>
          </request>
        </method>
        <method name="GET" id="get_user_position">
          <doc xml:lang="en" title="get_user_position"/>
          <request>
            <param name="id" type="xs:string" required="false" default="" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
          </request>
          <response status="400">
            <representation mediaType="text/html" element="html"/>
          </response>
          <response status="200">
            <representation mediaType="application/json" element="ns:Response" xmlns:ns="http://findmyapp.net/findmyapp/position/user/1"/>
          </response>
        </method>
      </resource>
      <resource path="users" id="users">
        <doc xml:lang="en" title="users"/>
        <method name="GET" id="get_position_of_all_users">
          <doc xml:lang="en" title="get_position_of_all_users"/>
          <request/>
          <response status="200">
            <representation mediaType="application/json" element="user:Response" xmlns:user="http://findmyapp.net/findmyapp/position/users"/>
          </response>
        </method>
      </resource>
      <method name="POST" id="get_position">
        <doc xml:lang="en" title="get_position"/>
        <request>
          <representation mediaType="application/json"/>
        </request>
        <response status="">
          <representation mediaType="application/json"/>
        </response>
        <response status="0">
          <representation mediaType=""/>
          <representation mediaType=""/>
          <representation mediaType=""/>
          <representation mediaType=""/>
          <representation mediaType=""/>
          <representation mediaType=""/>
        </response>
        <response status="200">
          <representation mediaType="application/json"/>
        </response>
      </method>
    </resource>
    <resource path="location" id="location">
      <doc xml:lang="en" title="location"/>
      <resource path="{id}" id="id">
        <doc xml:lang="en" title="id"/>
        <param name="id" type="xs:string" required="true" default="" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <resource path="fact" id="fact">
          <doc xml:lang="en" title="fact"/>
          <method name="GET" id="Method 1">
            <doc xml:lang="en" title="Method 1"/>
            <request/>
            <response status="0">
              <representation mediaType="" element="data"/>
              <representation mediaType="" element="data"/>
              <representation mediaType="" element="HTML"/>
            </response>
            <response status="200">
              <representation mediaType="application/json" element="fact:Response" xmlns:fact="http://localhost/findmyapp/location/1/fact"/>
            </response>
            <response status="404">
              <representation mediaType="text/html" element="html"/>
            </response>
          </method>
        </resource>
        <resource path="humidity" id="humidity">
          <doc xml:lang="en" title="humidity"/>
          <method name="GET" id="Method 1">
            <doc xml:lang="en" title="Method 1"/>
            <request/>
          </method>
        </resource>
        <resource path="noise" id="noise">
          <doc xml:lang="en" title="noise"/>
          <method name="GET" id="Method 1">
            <doc xml:lang="en" title="Method 1"/>
            <request/>
          </method>
        </resource>
        <resource path="temperature" id="temperature">
          <doc xml:lang="en" title="temperature"/>
          <method name="GET" id="Method 1">
            <doc xml:lang="en" title="Method 1"/>
            <request/>
            <response status="404 500">
              <representation mediaType="text/html" element="html"/>
            </response>
          </method>
          <method name="POST" id="Method 2">
            <doc xml:lang="en" title="Method 2"/>
            <request>
              <param name="value" type="xs:string" required="false" default="" style="query" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            </request>
          </method>
        </resource>
        <resource path="user" id="user">
          <doc xml:lang="en" title="user"/>
          <method name="GET" id="Method 1">
            <doc xml:lang="en" title="Method 1"/>
            <request/>
            <response status="404">
              <representation mediaType="text/html" element="html"/>
            </response>
            <response status="200">
              <representation mediaType="application/json" element="user:Response" xmlns:user="http://findmyapp.net/findmyapp/location/1/user"/>
            </response>
          </method>
        </resource>
        <method name="GET" id="Method 1">
          <doc xml:lang="en" title="Method 1"/>
          <request>
            <param name="id" type="xs:string" required="false" default="" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
          </request>
        </method>
      </resource>
      <method name="GET" id="Method 1">
        <doc xml:lang="en" title="Method 1"/>
        <request/>
      </method>
    </resource>
    <resource path="program" id="ukaprogram">
      <doc xml:lang="en" title="ukaprogram"/>
      <resource path="{ukaYear}" id="ukaYear">
        <doc xml:lang="en" title="ukaYear"/>
        <resource path="places" id="places">
          <doc xml:lang="en" title="places"/>
          <method name="GET" id="Method 1">
            <doc xml:lang="en" title="Method 1"/>
            <request>
              <param name="ukaYear" type="xs:string" required="false" default="" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            </request>
            <response status="200">
              <representation mediaType="application/json" element="plac:Response" xmlns:plac="http://localhost/findmyapp/program/uka11/places"/>
              <representation mediaType="text/html" element="html"/>
            </response>
          </method>
        </resource>
        <method name="GET" id="Method 1">
          <doc xml:lang="en" title="Method 1"/>
          <request/>
        </method>
      </resource>
    </resource>
  </resources>
</application>