src/main/webapp/api/FindMyApp service.wadl

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="wadl.xsl"?>
<application xmlns="http://wadl.dev.java.net/2009/02">
  <doc xml:lang="en" title="FindMyApp service">UKA-11 student festival service</doc>
  <resources base="http://findmyapp.net/findmyapp">
    <resource path="ping" id="ping">
      <doc xml:lang="en" title="ping">Check availability of service</doc>
      <method name="GET" id="get">
        <doc xml:lang="en" title="get">Check availability of the server</doc>
        <request/>
        <response status="200">
          <representation mediaType="application/json"/>
          <representation mediaType="text/html"/>
        </response>
      </method>
    </resource>
    <resource path="appstore" id="appstore">
      <doc xml:lang="en" title="appstore"/>
      <resource path="list" id="list">
        <doc xml:lang="en" title="list">List of applications</doc>
        <method name="GET" id="get">
          <doc xml:lang="en" title="get">Get list of applications available in the appstore</doc>
          <request/>
          <response status="200">
            <representation mediaType="application/json" element="list:Response" xmlns:list="http://localhost/findmyapp/appstore/list"/>
          </response>
        </method>
      </resource>
    </resource>
    <resource path="location" id="location">
      <doc xml:lang="en" title="location">Location of something</doc>
      <resource path="{id}" id="id">
        <doc xml:lang="en" title="id"/>
        <param name="id" type="xs:string" required="true" default="" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <resource path="fact" id="fact">
          <doc xml:lang="en" title="fact">Fact of a location</doc>
          <resource path="random" id="random">
            <doc xml:lang="en" title="random">Random fact of a location</doc>
            <method name="GET" id="getRandomFact">
              <doc xml:lang="en" title="getRandomFact">Get a randomly chosen fact of a location</doc>
              <request/>
              <response status="404">
                <representation mediaType="text/html" element="html"/>
              </response>
              <response status="200">
                <representation mediaType="application/json" element="ran:Response" xmlns:ran="http://findmyapp.net/findmyapp/location/2/fact/random"/>
              </response>
            </method>
          </resource>
          <method name="GET" id="getFacts">
            <doc xml:lang="en" title="getFacts">Get facts of a location</doc>
            <request/>
            <response status="200">
              <representation mediaType="application/json" element="fact:Response" xmlns:fact="http://findmyapp.net/findmyapp/location/1/fact"/>
            </response>
          </method>
        </resource>
        <resource path="humidity" id="humidity">
          <doc xml:lang="en" title="humidity"/>
          <method name="GET" id="Method 1">
            <doc xml:lang="en" title="Method 1"/>
            <request/>
          </method>
        </resource>
        <resource path="noise" id="noise">
          <doc xml:lang="en" title="noise"/>
          <method name="GET" id="Method 1">
            <doc xml:lang="en" title="Method 1"/>
            <request/>
          </method>
        </resource>
        <resource path="temperature" id="temperature">
          <doc xml:lang="en" title="temperature"/>
          <method name="GET" id="Method 1">
            <doc xml:lang="en" title="Method 1"/>
            <request/>
          </method>
        </resource>
        <resource path="user" id="user">
          <doc xml:lang="en" title="user"/>
          <method name="GET" id="Method 1">
            <doc xml:lang="en" title="Method 1"/>
            <request/>
            <response status="404">
              <representation mediaType="text/html" element="html"/>
            </response>
            <response status="200">
              <representation mediaType="application/json" element="user:Response" xmlns:user="http://findmyapp.net/findmyapp/location/1/user"/>
            </response>
          </method>
        </resource>
        <resource path="beertap" id="beertap">
          <doc xml:lang="en" title="beertap"/>
          <param name="id" default="id" type="xs:string" required="false" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
          <resource path="{tapId}" id="id">
            <doc xml:lang="en" title="id"/>
            <method name="GET" id="Method 1">
              <doc xml:lang="en" title="Method 1"/>
              <request>
                <param name="tapId" type="xs:int" required="false" default="" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                <param name="from" type="xs:dateTime" required="false" default="" style="query" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                <param name="to" type="xs:dateTime" required="false" default="" style="query" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
              </request>
              <response status="400">
                <representation mediaType="text/html" element="html"/>
              </response>
              <response status="200">
                <representation mediaType="application/json" element="ns:Response" xmlns:ns="http://findmyapp.net/findmyapp/location/12/beertap/223"/>
              </response>
            </method>
          </resource>
        </resource>
        <method name="GET" id="getLocation">
          <doc xml:lang="en" title="getLocation"/>
          <request>
            <param name="id" type="xs:string" required="false" default="" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
          </request>
        </method>
      </resource>
      <resource path="all" id="all">
        <doc xml:lang="en" title="all"/>
        <method name="GET" id="getAllLocations">
          <doc xml:lang="en" title="getAllLocations">Get a list of all locations</doc>
          <request/>
        </method>
      </resource>
      <resource path="friend/{id}" id="friend">
        <doc xml:lang="en" title="friend"/>
        <method name="GET" id="getFriendLocation">
          <doc xml:lang="en" title="getFriendLocation">Get the location of a friend</doc>
          <request>
            <param name="id" type="xs:string" required="false" default="" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
          </request>
          <response status="500">
            <representation mediaType="text/html" element="html"/>
          </response>
          <response status="200">
            <representation mediaType="application/json" element="ns:Response" xmlns:ns="http://findmyapp.net/findmyapp/location/friend/2"/>
          </response>
        </method>
      </resource>
      <resource path="friends/{userId}" id="allFriends">
        <doc xml:lang="en" title="allFriends"/>
        <method name="GET" id="getLocationOfAllFriends">
          <doc xml:lang="en" title="getLocationOfAllFriends">Get the location of all your friends</doc>
          <request>
            <param name="userId" type="xs:string" required="false" default="" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
          </request>
          <response status="400">
            <representation mediaType="text/html" element="html"/>
          </response>
          <response status="200">
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
      <resource path="sample" id="sample">
        <doc xml:lang="en" title="sample">A location sample</doc>
        <method name="POST" id="registerSample">
          <doc xml:lang="en" title="registerSample">Register a location sample containing signals and location name</doc>
          <request>
            <representation mediaType="application/json"/>
          </request>
          <response status="">
            <representation mediaType="application/json"/>
          </response>
          <response status="500">
            <representation mediaType="text/html" element="html"/>
          </response>
          <response status="200">
            <representation mediaType="application/json" element="sam:Response" xmlns:sam="http://findmyapp.net/findmyapp/location/sample"/>
          </response>
        </method>
      </resource>
      <resource path="user/{id}" id="user">
        <doc xml:lang="en" title="user">User location</doc>
        <param name="id" type="xs:string" required="false" default="" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <method name="GET" id="getUserLocation">
          <doc xml:lang="en" title="getUserLocation">Get the location of a user</doc>
          <request>
            <param name="id" type="xs:string" required="false" default="" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
          </request>
          <response status="">
            <representation mediaType="application/xml"/>
          </response>
          <response status="400 404 500">
            <representation mediaType="text/html" element="html"/>
          </response>
          <response status="200">
            <representation mediaType="application/json" element="ns:Response" xmlns:ns="http://findmyapp.net/findmyapp/location/user/1"/>
          </response>
        </method>
        <method name="POST" id="regUserLocation">
          <doc xml:lang="en" title="regUserLocation">Register the location of a user</doc>
          <request>
            <param name="locationId" type="xs:string" required="false" default="" style="query" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <param name="id" type="xs:string" required="false" default="" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <representation mediaType="application/xml"/>
          </request>
          <response status="400">
            <representation mediaType="text/html" element="html"/>
          </response>
          <response status="">
            <representation mediaType="application/xml"/>
          </response>
          <response status="200">
            <representation mediaType="application/json" element="ns:Response" xmlns:ns="http://findmyapp.net/findmyapp/location/user/1"/>
          </response>
        </method>
      </resource>
      <resource path="users" id="allUsers">
        <doc xml:lang="en" title="allUsers">All users currently registered</doc>
        <method name="GET" id="getAllUserLocations">
          <doc xml:lang="en" title="getAllUserLocations">Get the location of all users</doc>
          <request/>
          <response status="200">
            <representation mediaType="application/json" element="user:Response" xmlns:user="http://findmyapp.net/findmyapp/location/users"/>
          </response>
          <response status="404">
            <representation mediaType="text/html" element="html"/>
          </response>
        </method>
      </resource>
      <method name="POST" id="getCurrentLocation">
        <doc xml:lang="en" title="getCurrentLocation">Get your current location</doc>
        <request>
          <representation mediaType="application/json"/>
        </request>
        <response status="">
          <representation mediaType="application/json"/>
        </response>
        <response status="200">
          <representation mediaType="application/json"/>
        </response>
      </method>
    </resource>
  </resources>
</application>