src/main/webapp/api/FindMyApp service.wadl

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="wadl.xsl"?>
<application xmlns="http://wadl.dev.java.net/2009/02">
  <doc xml:lang="en" title="FindMyApp service">UKA-11 student festival service</doc>
  <resources base="http://findmyapp.net/findmyapp">
    <resource path="ping" id="ping">
      <doc xml:lang="en" title="ping">Check availability of service</doc>
      <method name="GET" id="get">
        <doc xml:lang="en" title="get">Check availability of the server</doc>
        <request/>
        <response status="200">
          <representation mediaType="application/json"/>
          <representation mediaType="text/html"/>
        </response>
      </method>
    </resource>
    <resource path="appstore" id="appstore">
      <doc xml:lang="en" title="appstore"/>
      <resource path="list" id="list">
        <doc xml:lang="en" title="list">List of applications</doc>
        <method name="GET" id="get">
          <doc xml:lang="en" title="get">Get list of applications available in the appstore</doc>
          <request/>
          <response status="200">
            <representation mediaType="application/json" element="list:Response" xmlns:list="http://localhost/findmyapp/appstore/list"/>
          </response>
        </method>
      </resource>
    </resource>
    <resource path="position" id="position">
      <doc xml:lang="en" title="position"/>
      <resource path="sample" id="sample">
        <doc xml:lang="en" title="sample"/>
        <method name="POST" id="insert_sample">
          <doc xml:lang="en" title="insert_sample">Method for adding samples of signals to database in order to create data for which to run the Euclidean distance.</doc>
          <request/>
        </method>
      </resource>
      <resource path="user/{id}" id="user">
        <doc xml:lang="en" title="user">User position</doc>
        <param name="id" type="xs:int" required="true" default="" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema">
          <doc xml:lang="en" title="id Parameter">User ID</doc>
        </param>
        <method name="POST" id="post">
          <doc xml:lang="en" title="post"/>
          <request>
            <param name="locationId" type="xs:string" required="false" default="" style="query" xmlns:xs="http://www.w3.org/2001/XMLSchema">
              <doc xml:lang="en" title="locationId Parameter">The id of the location where the user is located</doc>
            </param>
          </request>
        </method>
        <method name="GET" id="get">
          <doc xml:lang="en" title="get">Get one user's position</doc>
          <request/>
          <response status="200">
            <representation mediaType="application/json" element="ns:Response" xmlns:ns="http://findmyapp.net/findmyapp/position/user/1"/>
          </response>
        </method>
      </resource>
      <resource path="users" id="users">
        <doc xml:lang="en" title="users"/>
        <method name="GET" id="get">
          <doc xml:lang="en" title="get">Get position of all users</doc>
          <request/>
          <response status="200">
            <representation mediaType="application/json" element="user:Response" xmlns:user="http://findmyapp.net/findmyapp/position/users"/>
          </response>
        </method>
      </resource>
      <method name="POST" id="post">
        <doc xml:lang="en" title="post">Determine position based on proximity to WLAN access points. [     {         "bssid": "C0:CB:38:2C:88:85",         "signalStrength": -60     },     {         "bssid": "C0:CB:48:2C:88:85",         "signalStrength": -30     } ]</doc>
        <request>
          <representation mediaType="application/json"/>
        </request>
        <response status="">
          <representation mediaType="application/json"/>
        </response>
        <response status="200">
          <representation mediaType="application/json"/>
        </response>
      </method>
    </resource>
    <resource path="location" id="location">
      <doc xml:lang="en" title="location"/>
      <resource path="{id}" id="id">
        <doc xml:lang="en" title="id"/>
        <param name="id" type="xs:string" required="true" default="" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <resource path="fact" id="fact">
          <doc xml:lang="en" title="fact"/>
          <method name="GET" id="Method 1">
            <doc xml:lang="en" title="Method 1"/>
            <request/>
            <response status="0">
              <representation mediaType="" element="data"/>
              <representation mediaType="" element="data"/>
              <representation mediaType="" element="HTML"/>
            </response>
            <response status="200">
              <representation mediaType="application/json" element="fact:Response" xmlns:fact="http://localhost/findmyapp/location/1/fact"/>
            </response>
            <response status="404">
              <representation mediaType="text/html" element="html"/>
            </response>
          </method>
        </resource>
        <resource path="humidity" id="humidity">
          <doc xml:lang="en" title="humidity"/>
          <method name="GET" id="Method 1">
            <doc xml:lang="en" title="Method 1"/>
            <request/>
          </method>
        </resource>
        <resource path="noise" id="noise">
          <doc xml:lang="en" title="noise"/>
          <method name="GET" id="Method 1">
            <doc xml:lang="en" title="Method 1"/>
            <request/>
          </method>
        </resource>
        <resource path="temperature" id="temperature">
          <doc xml:lang="en" title="temperature"/>
          <method name="GET" id="Method 1">
            <doc xml:lang="en" title="Method 1"/>
            <request/>
          </method>
        </resource>
        <resource path="user" id="user">
          <doc xml:lang="en" title="user"/>
          <method name="GET" id="Method 1">
            <doc xml:lang="en" title="Method 1"/>
            <request/>
            <response status="404">
              <representation mediaType="text/html" element="html"/>
            </response>
            <response status="200">
              <representation mediaType="application/json" element="user:Response" xmlns:user="http://findmyapp.net/findmyapp/location/1/user"/>
            </response>
          </method>
        </resource>
        <resource path="beertap" id="beertap">
          <doc xml:lang="en" title="beertap"/>
          <param name="id" default="id" type="xs:string" required="false" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
          <resource path="{tapId}" id="id">
            <doc xml:lang="en" title="id"/>
            <method name="GET" id="Method 1">
              <doc xml:lang="en" title="Method 1"/>
              <request>
                <param name="tapId" type="xs:int" required="false" default="" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                <param name="from" type="xs:dateTime" required="false" default="" style="query" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                <param name="to" type="xs:dateTime" required="false" default="" style="query" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
              </request>
              <response status="400">
                <representation mediaType="text/html" element="html"/>
              </response>
              <response status="200">
                <representation mediaType="application/json" element="ns:Response" xmlns:ns="http://findmyapp.net/findmyapp/location/12/beertap/223"/>
              </response>
            </method>
          </resource>
        </resource>
        <method name="GET" id="Method 1">
          <doc xml:lang="en" title="Method 1"/>
          <request>
            <param name="id" type="xs:string" required="false" default="" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
          </request>
        </method>
      </resource>
      <method name="GET" id="Method 1">
        <doc xml:lang="en" title="Method 1"/>
        <request/>
      </method>
    </resource>
  </resources>
</application>